.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-wrapper {
  display: flex;
}
.number-square {
  width: 100px;
  height: 100px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.sign-square {
  width: 100px;
  height: 100px;
  background-color: rgb(165, 133, 133);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
